<ul class="fresh-menu no-ul" id="menu-{{ loop.index }}" data-menu="{{ loop.index }}" data-level="1">
    <li><a href="#item-1A{{ loop.index }}">À propos</a></li>
    <li><a href="#item-2A{{ loop.index }}">Sur Github</a></li>
    <li><a href="#item-3A{{ loop.index }}">Contact</a></li>
    <li>
        <a href="#item-4A{{ loop.index }}">Accessibilité</a>
        <ul class="no-ul">
            <li><a href="#item-4A-1B{{ loop.index }}">Navigation au clavier</a></li>
            <li><a href="#item-4A-2B{{ loop.index }}">Gestion du focus</a></li>
            <li><a href="#item-4A-3B{{ loop.index }}">Sans JavaScript</a></li>
            <li><a href="#item-4A-4B{{ loop.index }}">Comportement</a></li>
            <li><a href="#item-4A-5B{{ loop.index }}">La couche <abbr title="Accessible Rich Internet Application" lang="en">ARIA</abbr></a></li>
        </ul>
    </li>
    <li>
        <a href="#item-5A">JavaScript</a>
        <ul class="no-ul">
            <li><a href="#item-5A-1B">Basé sur jQuery</a></li>
            <li><a href="#item-5A-2B">Fonctionne sans JavaScript</a></li>
            <li><a href="#item-5A-3B">Écouteurs d&apos;événement</a></li>
        </ul>
    </li>
    <li><a href="#item-6A">Références</a></li>
    <li>
        <a href="#item-7A">Les styles</a>
        <ul class="no-ul">
            <li><a href="#item-7A-1B">Sélecteurs d&apos;attributs</a></li>
            <li><a href="#item-7A-2B">Styles génériques</a></li>
            <li>
                <a href="#item-7A-3B">Styles avec ou sans JavaScript</a>
                <ul class="no-ul">
                    <li><a href="#item-7A-3B-1C">Grâce aux animations</a></li>
                    <li><a href="#item-7A-3B-2C">Et aux délais</a></li>
                </ul>
            </li>
            <li><a href="#item-7A-4B">Des couleurs nommées</a></li>
            <li><a href="#item-7A-5B">Des transformations en 3d</a></li>
        </ul>
    </li>
    <li><a href="#item-8A">Historique</a></li>
    <li><a href="#item-9A">Contribution</a></li>
</ul>
